name: Build

on:
  push:
    branches: [ main, '[0-9]+.[0-9]+.x' ]
  pull_request:
    branches: [ main, '[0-9]+.[0-9]+.x' ]

jobs:
  build:
    name: Gradle build on JDK ${{ matrix.java-version }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java-version: [ '8', '11', '17' ]

    steps:
      - uses: actions/checkout@v3

      - name: Setup JDK
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java-version }}
          cache: 'gradle'

      - name: Run check
        run: ./gradlew clean build

      - name: Check coverage
        run: ./gradlew koverMergedVerify

      - name: Merge coverage reports
        run: ./gradlew koverMergedReport

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        if: ${{ matrix.java-version == '8' }}
        with:
          files: build/kover/result.xml
